.error {
  color: red;
  margin-left: 125px;
  font-weight: 100;
}

body {
  /* background: url("https://kaushikbhandary.files.wordpress.com/2017/07/home-panel-11-1-1.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inner {
  width: 450px;
  margin-left: 150px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

h2 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  color: #3bb5e6;
}

.custom-control-label {
  font-weight: 400;
}

.cinput {
  font-size: 16px;
  font-family: Arial;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid #3bb5e6;
  width: 320px;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 10px;
}

.centerblock {
  color: red;
  text-align: center;
}

.p {
  text-align: center;
  width: 500px;
  color: #3bb5e6;
  height: auto;
  background: #ffffff;
  padding: 40px 55px 45px 55px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 15px;
  float: right;
  margin-right: 150px;
  
}



button {
  border: 2px solid #3bb5e6;
  background: #ffffff;
  border-radius: 15px;
}