/* .content-text{
  color:#fff;
  z-index: 1;
  font-weight: 200px;
  margin-left: 200px;
  align-items: center;
} */
.main{
  font-weight: 300px;
  font-family: cursive;
  text-transform: capitalize;
  font-size: 45px;
  color:#fff;

}
.footer{
  bottom: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
 
  
  
}
.caption{
  font-weight: 300px;
  font-family: 'Segoe UI';
  color: #fff;
  font-size: 30px;
  float: left;
  width: 50%;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  position: relative;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.filterdesign{
  margin-left: 22px;
  /*border-radius: 100px;*/
  border-radius: 15px 50px;
}

.filterbox{
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
  
}

.filterbox .select{
  width: 120%;
  /*background:url('arrow.png') no-repeat;
  background-position:80% center;*/
}

.filterbox .select select{
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}

.box{
  border:3px; 
  border-style:solid; 
  border-color:darkgray; 
  padding: 1em;
  /*width: 300px;*/
  color: #fff;
  text-transform: uppercase;
  float: left;
  width: 45%;
  margin-left: 0px;
  position: relative;
  text-align: center;
}
.box:hover{
  cursor: pointer;
  background-color:cadetblue;
}
h1 {
  color: green;
}
 
.multipleSelection {
  width: 300px;
  background-color: #BCC2C1;
}
.selectBox {
  position: relative;
}
 
.selectBox select {
  width: 100%;
  font-weight: bold;
}
 
.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#checkBoxes {
  display: none;
  border: 1px #8DF5E4 solid;
}
 
#checkBoxes label {
  display: block;
}
 
#checkBoxes label:hover {
  background-color: #4F615E;
}
select, button {
  border:1px solid gray;
  margin:0;
  padding:0 .6em;
  height:2.3em; 
  box-sizing:border-box;
  /*border-radius: 20px;*/
}


.icons-style{
  /* transform: scale(5.8); */
}
.status{
  height: 20px;
  width: 20px;
}