.header
{
    border-bottom: 2px solid #4AA0D8;
    background-color: rgba(17, 165, 169, 0.5);
}

.header li a
{
    text-decoration: none;
    color:white;
}
 li a:hover
{
    text-decoration: none;
    color:yellow;
    font-weight: 700;
}
html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 
   div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
   
 important .login{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }