

  body {
    /*min-height: 100vh;
    margin-top: 150px;
    font-weight: 400;
    font-family: sans-serif; */
    background: url("https://media.istockphoto.com/photos/food-backgrounds-table-filled-with-large-variety-of-food-picture-id1155240408?k=6&m=1155240408&s=612x612&w=0&h=SEhOUzsexrBBtRrdaLWNB6Zub65Dnyjk7vVrTk1KQSU=") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .App {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

  }
  
  
  
  .inp {
    margin-bottom: 20px;
    padding: 10px;
    /*border-radius: 5px;
    border: 1px solid #777;*/
    display: block;
    width: 100%;
    
  }
  
  
  
  .feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    color: white;
    border: 1px solid rgb(70, 153, 179);
    transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
  }
  
  button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(70, 153, 179);
  }
  
  .p {
    width: 600px;
    color: #3bb5e6;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
    float: right;
    margin-right: 450px;
  }

  .t {
    margin-top: 100px;
  }